#body{
    margin:0%;     
}
.centro{
    margin: auto;
}

#topo{
    height: 299px;
    width: 1365px;
    background-color: darkgrey;
    padding: 1px;
    
    
}
#logotipo{
    height: 150px;
    width: 300px;
    background-color: dimgrey;
    border-radius: 20PX;
    margin-top: 21PX;
    margin-left: 1PX;
    margin-right: 150px;
    float: left;
    
}
#menu{
    height: 180px;
    width: 1000px;
    margin-top: 60px;
    margin-left: 88px;
    
    
    
}
.itemmenu{
    height: 30px;
    width: 100px;
    float: right;
    margin-left: 10px;
    background-color: #224858;
    margin-top: 140px;
}
#banner{
    height: 499px;
    width: 1365px;
    background-color:#224858;
    padding: 1px;
}
#imbanner{
    height: 250px;
    width: 494px;
    background-color: dimgrey;
    margin-top: 65px;
    margin-left: 88px;
    border-radius: 20px;
}
#minibanner{
    height: 100px;
    width: 300px;
    background-color: dimgrey;
    margin-top: 30px;
    margin-left: 88px;
    border-radius: 20px;
}
#conteudo{
    height: 2700px;
    width: 1366px;
    background-color: darkgrey;
}
#imagenscont{
    height: 1120px;
    width: 500px;
    /*background-color: burlywood;*/
    margin-left: 88px;
    margin-top: 65px;
    padding: 1px;
    float:left;
}
.imconteudo{
    height: 300px;
    width: 494px;
    background-color: #533DF2;
    margin-top: 30px;
    margin-left: 1px;
    border-radius: 20px;
}
#imgconteudo2{
    height: 130px;
    width: 494px;
    background-color: #533DF2;
    margin-top: 30px;
    margin-left: 1px;
    border-radius: 20px;
}
#imagenscont2{
    height: 1120px;
    width: 220px;
    /*background-color: burlywood;*/
    margin-left: 88px;
    margin-top: 65px;
    padding: 1px;
    float:left;
    
}
.imagenzinhas{
    height: 200px;
    width: 200px;
    background-color: #533DF2;
    margin-top: 30px;
    margin-right: 1px;
    border-radius: 20px;

}
#imagenscont3{
    height: 1120px;
    width: 220px;
    /*background-color: burlywood;*/
    margin-left: 88px;
    margin-top: 65px;
    padding: 1px;
    float:left;
    margin: right 200px;
}
.textos{
    height: 200px;
    width: 300px;
    background-color: #c6c3e0;
    margin-top: 30px;
    margin-right: 1px;
    border-radius: 20px;

}
#painel{
    height: 700px;
    width: 1200px;
    /*background-color: burlywood;*/
    margin-left: 88px;
    margin-top: 100px;
    padding: 1px;
    float:left;
}
.painelgrande{
    height: 300px;
    width: 650px;
    background-color: #533DF2;
    margin-top: 30px;
    margin-left: 1px;
    float: left;
    margin-right: 30px;
}
.painelpequeno{
    height: 300px;
    width: 500px;
    background-color: #281d80;
    margin-top: 30px;
    margin-left: 1px;
    float: left;

}
.painelgrande2{
    height: 300px;
    width: 650px;
    background-color: #533DF2;
    margin-top: 30px;
    margin-left: 1px;
    float: left;
    
}
.painelpequeno2{
    height: 300px;
    width: 500px;
    background-color: #281d80;
    margin-top: 30px;
    margin-left: 1px;
    float: left;
    margin-right: 30px;

}
#dcirculos{
    height: 300px;
    width: 1220px;
    /*background-color: beige;*/
    margin-left: 88px;
    margin-top: 65px;
    padding: 1px;
    float: left;
}
.bola{
    height: 350px;
    width: 350px;
    background-color: #533DF2;
    border-radius: 100%;
    margin-left: 40px;
    float: left;

}
#dtextos{
    height: 250px;
    width: 1220px;
    /*background-color: beige;*/
    margin-left: 88px;
    margin-top: 65px;
    padding: 1px;
    float: left;
}
.textin{
    height: 200px;
    width: 350px;
    background-color: aliceblue;
    margin-left: 40px;
    float: left;

}
#rodape{
    height: 199px;
    width: 1366px;
    background-color:#224858;
    padding: 1px;
}
#cxroda{
    height: 150px;
    width: 1200px;
    background-color: beige;
    margin-left: 88px;
    margin-top: 25px;
    padding: 1px;

}
#redes{
    height: 100px;
    width: 350px;
    background-color: beige;
    margin-left: 10px;
    margin-top: 25px;
}
.minirede{
    height: 75px;
    width: 75px;
    background-color: #533DF2;
    float: left;
    margin-left: 10px;
}
#texrodape{
    height: 100px;
    width: 100px;
    background-color: rgb(211, 211, 32);
    margin-left: 88px;
    margin-top: 25px;
    float: left;
}
